@model IEnumerable<SuperheroCreatorProject.Models.Superhero>

@{
    ViewData["Title"] = "Superheroes";
}

<h1>Superheroes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-link">@item.Name</a>
                @*@Html.ActionLink($"{item.Name}", "Details", new { primaryKey = item.Id })*@
            </td>
            <td id="actionList" class="form-inline">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-link">Edit</a> |
                @using (Html.BeginForm("Delete", "Superheroes", new { Id = item.Id }, FormMethod.Post, true, new { @class = "form-inline" }))
                {
                    <input type = "submit" value = "Delete" class="btn btn-link" />
                }
                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                @* anchor tag's are always get requests and should handle deletions with post requests *@
            </td>
        </tr>
}
    </tbody>
</table>
